@inject IngresosBLL ingresosBLL
@page "/ConsultaIngreso"
<h3>C_Ingresos</h3>
<div class="row">
    <div class="col-auto">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <label>ID</label>
                        <InputNumber @bind-Value="ID" class="form-control"></InputNumber>
                    </div>
                    <div class="col-3 btn-group">
                        <button type="button" class="btn btn-primary oi oi-magnifying-glass" @onclick="Buscar"></button>
                        <button type="button" class="btn btn-dark oi oi-random" @onclick="Reiniciar"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Desde</label>
                        <InputDate class="form-control " @bind-Value="fechaDede"></InputDate>
                    </div>
                    <div class="col">
                        <label>Hasta</label>
                        <InputDate class="form-control " @bind-Value="fechaHasta"></InputDate>
                    </div>

                </div>
                <div class="row">
                    <InputSelect @bind-Value="">
                        <option value="" disabled>Select...</option>
                        <option value="Option1">Option 1</option>
                    </InputSelect>
                </div>
            </div>
            <div class="card-body">
                <table class=" table table-striped table-bordered d-table-cell">
                    <thead class="table-secondary">
                        <tr>
                            <th>ID Ingresos</th>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingreso in ingresos)
                        {
                            <tr>
                                <td><a href="RegistrosIngresos/@ingreso.IngresosId">@ingreso.IngresosId</a></td>
                                <td>@ingreso.Fecha.ToString("MM/dd/yy")</td>
                                <td>@ingreso.Concepto</td>
                                <td>@ingreso.Monto</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@code {
    public List<Ingresos> ingresos { get; set; } = new();
<<<<<<< HEAD
    public int ID;
    public DateTime fechaDede; 
    public DateTime fechaHasta;   
=======
    public DateTime fechaDede;
    public DateTime fechaHasta;
    public Ingresos ingresoAuxiliar = new();
    public int opciones;
    public decimal montoTotal;
>>>>>>> 4802139 (Arreglando identacion y legibilidad de consulta y registro)

    protected override void OnInitialized()
    {
        ingresos = ingresosBLL.GetList(i => true);
        fechaDede = DateTime.Now.AddMonths(-1);
        fechaHasta = DateTime.Now;              
    }
    public void Buscar()
    {
        if (ID > 0)
        {
            ingresos = ingresosBLL.GetList(i => i.IngresosId == ID);
        }

        ingresos = ingresosBLL.GetList(i => i.Fecha >= fechaDede.Date && i.Fecha <= fechaHasta);
    }
    public void Reiniciar()
    {
        ingresos = ingresosBLL.GetList(i => true);
    }

}
